<div class="container">
    <div class="row">
        <form id="entryForm" class="entryForm panel row radius">

            <div class="small-3 columns">
                <label>Date <input type="text" name="date" id="startDate"></label>
            </div>
            <div class="small-3 columns">
                <label>Start time <input type="text" name="startTime" id="startTime"></label>
            </div>
            <div class="small-3 columns">
                <label>End time <input type="text" name="endTime" id="endTime"></label>
            </div>
            <div class="small-3 columns">
                <div class="row collapse">
                    <label>Hours</label>
                    <div class="small-8 columns">
                        <input type="text" name="hours" id="hours" readonly>
                    </div>
                    <div class="small-4 columns">
                        <a href="#/save" class="postfix button success small">Add +</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<hr>
<div class="container">  
    <div class="row">
        <div class="container">
            <div class="panel radius">
                <h3>Lista przepracowanych godzin: <strong id="total">0</strong></h3>
                <div id="entryList"></div>
            </div>
        </div>
    </div>
</div>